body {
  font-family: 'Roboto Slab', serif;
  display: flex;
}
.gridder{
  margin:0px;
  padding:0px;
  list-style-type:none;
}
.gridder-list {display:inline-block;
  vertical-align:top;
}
.gridder-show {
  display:block;
  float:left;
  width:100%;
  position:relative;
  background:#EEE url("../images/loading-spin.svg") no-repeat center;
}
.gridder-show.loading{background:#EEE url("../images/loading-spin.svg") no-repeat center}
.gridder-content{display:none}
.gridder-list{width:49.5%}
.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}
.gridder-list:nth-of-type(2n){margin-right:0;margin-bottom:0}
.gridder-show{padding:20px;background:#EEE;margin-bottom:1%; background-color: #2E5A7B;}
.gridder-navigation .gridder-nav.disabled{opacity:.5}
.gridder-list{cursor:pointer}
.gridder-list:hover{opacity:0.8}
.hasSelectedItem .gridder-list{opacity:.5}
.hasSelectedItem .gridder-list.selectedItem{opacity:1}
@media screen and (min-width: 700px){.gridder-list{width:15.8333333333%}
.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}
.gridder-list:nth-of-type(6n){margin-right:0;margin-bottom:0}}
.col-sm-6 {
  background-color: #2E5A7B;
  color: white;
}
.gridder-navigation a {
  color: white;
  padding-right: 10%;
}
.gridder-navigation a:hover{
  color: white;
  text-decoration: underline;
}
img {
  padding-top: 2%;
}
.img-fluid {
  width:200%;
}
a {
  text-decoration: none;
  color: #2E5A7B;
  text-align: center;
}
ul li {
    display: inline;
 }
 ul li a {
     text-decoration: none;
     font-family: 'Roboto Slab', serif;
     color: #2E5A7B;
 }
 h1 a:hover{
     text-decoration: none;
     color: #2E5A7B;
 }
 ul li a:hover {
     color: #2E5A7B;
 }
 .gridder-list {
   padding: 0;
 }
 .container p {
   text-align: left;
   font-family: 'Roboto', sans-serif;
 }
 .container h2 {
   color: white;
   text-align: left;
 }
 h1 {
   color: #2E5A7B;
   font-family: 'Roboto Slab', serif;
   font-size: 2rem;
   text-align: center;
   font-weight: bold;
    line-height: normal;
 }
 .nav {
   display: block;
 }
@media (min-width:400px) {
  h1 {
     font-size: 2.5rem;
     }
}
@media (min-width:500px) {
    h1 {
       font-size: 3rem;
       }
}
@media (min-width: 680px) {
     h1 {
         font-size: 1rem;
         padding-bottom: 5%;
     }
     header{
         width: 95%;
         display: flex;
         flex-direction:row;
         justify-content: center;
          align-items: baseline;
     }
     .nav {
         width: 95%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: baseline;
     }
     .menu, .hamburger, .cross {
         display: none;
     }
     .desktop-menu {
         width: 50%;
         display: flex;
         flex-direction: column;
         text-align: right;
     }
    ul li {
        display: inline;
        text-align: right;
        padding-right: 4%;
     }
     ul li a {
         text-decoration: none;
         font-family: 'Roboto Slab', serif;
         font-size: 1rem;
         color: #2E5A7B;
     }
     ul li:hover {
         text-decoration: underline;
     }
}
@media (min-width: 720px) {
         h1 {
           padding-bottom: 2%;
}
}
@media (min-width: 860px) {
  h1 {
      font-size: 1.5rem;
  }
}
@media (min-width:900px) {
     h1 {
        font-size: 1.6rem;
    }
  }

  body{
      width: 100%;
      display: flex;
      background-image: url("images/cactus.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      font-family: 'Roboto Slab', serif;
  }
  .about-site {
      width: 100%;
      display:flex;
      flex-direction: column;
      align-content: center;
      min-height: 100vh;
      background-color: #B7CCDB;
  }
  .site-content {
      flex-grow:1;
  }
  header{
      width:100%;
      align-content: center;
}
      .hamburger{
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:5px 15px 0px 15px;
        color:#2E5A7B;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
      }
      .cross{
        background:none;
        position:absolute;
        top:0px;
        right:0;
        padding:7px 15px 0px 15px;
        color:#2E5A7B;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
      }
      .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#ffffff;  position:absolute; text-align:center; font-size:12px;}
      .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
      .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#B7CCDB 1px solid;}
      .menu li:hover{display: block;    background:#B7CCDB; padding:15px 0 15px 0; border-bottom:#ffffff 1px solid;}
      .menu ul li a { text-decoration:none;  margin: 0px; color:#2E5A7B;}
      .menu ul li a:hover {  color: #2E5A7B; text-decoration:none;}
      .menu a{text-decoration:none; color:#2E5A7B;}
      .menu a:hover{text-decoration:none; color:#ffffff;}
      header{display:inline-block; font-size:12px;}

    .site-content h2 {
      text-align: center;
      color: #2E5A7B;
      padding-right: 0;
    }
    .container h2 {
      color: white;
      text-align: left;
    }
    .container {
      margin-bottom: 5%;
    }
/*# sourceMappingURL=demo.css.map */
